﻿

body {
    padding-top: 60px;
    background-color: #edf5e1;
}
.row {
    padding-left: 15px;
}

.navbar-nav {
    float: right;
}

.navbar-brand {
    font-weight: bold;
}
.navbar-nav a {
    font-weight: bold;
}

.jumbotron {
     border:1px solid black;
     background-color:aquamarine;
     
}
.mainbody {
      padding-top:10px;
      padding-left:10px;
      padding-right:10px;
}

#footer {
    border-top: 5px solid black;
    
}
    #footer p {
        margin-top:20px;
        font-weight:bold;
        color:royalblue;
    }